* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.header {
  background-color: #635854;
  /* padding: 12px 0; */
  border-bottom: 4px solid #3596f5;
}

.navbar-menu {
  margin: 0;
  padding: 0;
}

.navbar-item {
  color: #fff;
  margin: 0 40px;
  text-decoration: none;
  padding: 10px 15px;
  text-align: center;
}

.navbar-item.active {
  background-color: #3596f5;
}

.navbar-link {
  color: #fff;
  text-decoration: none;
}

.navbar-link:hover {
  color: rgba(255, 255, 255, 0.7);
}

.navbar-contacts {
  text-align: right;
}

.header .navbar-text {
  display: block;
  color: #fff !important;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
  padding: 0;
}

.navbar-phone {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.navbar-phone:hover {
  color: rgba(255, 255, 255, 0.7);
}

.main {
  display: flex;
  max-width: 1280px;
  margin: auto;
  padding-top: 54px;
  justify-content: space-between;
  background: #fff;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  flex-grow: 1;
  text-align: center;
}

.home_image,
.flats {
  width: 100%;
}

.home_image path,
.flats path {
  opacity: 0;
  cursor: pointer;
}

.home_image .current-floor {
  opacity: 1;
}

.home_image path:hover,
.flats path:hover {
  opacity: 1;
}

.counter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0;
}

.counter-button {
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
}

.counter-arrow-down {
  transform: rotateX(180deg);
}

.main-title {
  margin: 0;
  font-family: "Bebas Neue", sans-serif;
  font-weight: normal;
  font-size: 37px;
  line-height: 44px;
  color: #635854;
  text-align: center;
  text-transform: uppercase;
}

.counter {
  margin: 10px 0;
  font-family: "Bebas Neue", sans-serif;
  font-size: 100px;
  color: #635854;
}

.button-primary {
  background-color: #3596f5;
  border-radius: 6px;
  border: none;
  color: #fff;
  padding: 16px 36px;
  cursor: pointer;
}

.home_image .path_active,
.flats .path_active {
  opacity: 1;
}

footer {
  background: #d0d9de;
  padding: 20px 0;
  margin-top: 100px;
  border-top: 4px solid #3596f5;
}

.info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-contacts {
  text-align: right;
  /* margin-right: 40px; */
}

.footer-text {
  font-family: "Roboto";
  display: block;
  color: #635854;
  margin-bottom: 4px;
  font-size: 14px;
  line-height: 16px;
}

.footer-phone {
  font-family: "Roboto";
  color: #635854;
  text-decoration: none;
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  text-align: center;
}

.social-icons a {
  margin: 0 7.5px;
  text-decoration: none;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.social-icons img {
  width: 100%;
}

.logo {
  width: 100%;
}

.links a {
  font-family: "Roboto";
  color: #635854;
  font-size: 16px;
  line-height: 19px;
  margin: 0 10px;
}

.modal-dialog {
  max-width: 800px !important;
  min-height: 565px;
}

.modal-title,
.modal-title .counter {
  font-family: "Bebas Neue Cyrillic", sans-serif;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  margin-top: 0;
  margin-bottom: 25px;
  color: #000;
}

.flat-list {
  padding: 0;
  list-style-type: none;
  margin-top: 55px;
}

.flat-item {
  margin-bottom: 10px;
}

.flat-link {
  text-decoration: none;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
}

.flat-link:hover {
  text-decoration: underline;
  color: #3596f5;
}

.flat-link.active {
  text-decoration: underline;
  color: #3596f5;
}

.modal-alert {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #635854;
  margin-top: 56px;
}

@media screen and (max-width: 768px) {
  .navbar-item {
    margin: 5px 0;
  }

  .navbar-contacts {
    margin: 20px 0;
    text-align: center;
  }

  .logo {
    width: 100px;
  }

  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .links a {
    margin: 5px 0;
  }

  .row_mobile {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
  }
}
